article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

a {
  text-decoration: none; }

.container-news-list-first-images {
  background-color: #e4e4e4; }

.container-news-list-text-links {
  color: #4bbcc4; }

.container-header-navegation {
  margin-left: 95px; }
  .container-header-navegation .nav {
    margin: 0 10px;
    color: #fff; }
    .container-header-navegation .nav:hover {
      background-color: #4bbcc4;
      padding: 6px; }

.container-header {
  color: #fff;
  background-color: #00a0aa;
  width: 97%;
  height: 250px;
  padding: 20px; }
  .container-header .container-header-title {
    font-size: 32px;
    font-size: 3.2rem;
    margin-left: 120px; }
  .container-header .container-header-social-networks {
    float: right; }
    .container-header .container-header-social-networks .container-header-social-networks-title {
      margin-right: 2px;
      margin-top: 2px; }

.container-article-featured {
  background-color: #fff;
  width: 50%;
  margin-left: 120px;
  margin-top: -120px; }
  .container-article-featured .container-article-featured-first {
    margin-left: 50px;
    padding-top: 5px;
    border-bottom: 1px solid #e4e4e4; }
  .container-article-featured .conteiner-article-featured-first-title {
    width: 80%; }
  .container-article-featured .container-article-featured-first-image-img {
    margin-top: 30px; }
  .container-article-featured p {
    width: 95%; }

.article {
  max-width: 600px;
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  margin-left: 170px; }

.container-article {
  width: 20%;
  margin-left: 160px;
  margin-top: -300px; }
  .container-article .container-articles-first-title {
    font-size: 13px;
    font-size: 1.3rem;
    color: #4bbcc4;
    border-bottom: 2px solid #00a0aa; }

.container-news-list {
  border-bottom: 1px solid #e4e4e4;
  width: 95%; }
  .container-news-list .container-news-list-images {
    background-color: #e4e4e4;
    width: 35%;
    height: 160px; }
  .container-news-list .container-news-list-text {
    margin-top: -180px;
    margin-left: 230px; }
    .container-news-list .container-news-list-text p {
      margin-bottom: 5px; }
  .container-news-list .container-news-list-date {
    margin-bottom: 7px; }

.container-news-list-cargar {
  font-size: 9px;
  font-size: 0.9rem;
  background: #4bbcc4;
  padding: 10px 50px;
  border-radius: 6px;
  color: #fff;
  top: 30px;
  left: 30%;
  position: relative; }

.container-footer {
  text-align: center;
  background: #e4e4e4;
  background-size: cover;
  padding-top: 20px;
  height: 100px;
  color: #6e6b6b;
  margin-top: 100px; }

.container-footer-navegation {
  margin-left: 95px; }
  .container-footer-navegation .footer {
    font-size: 10px;
    font-size: 1rem;
    padding-top: 100px;
    margin-left: 10px;
    color: #6e6b6b; }
    .container-footer-navegation .footer:hover {
      background-color: #4bbcc4;
      color: #fff;
      padding: 6px; }

.move {
  display: inline-block;
  margin-right: 100px; }

/*# sourceMappingURL=style.css.map */
