// all the a of the page 
a{
	text-decoration: none;
}
//The other articles
.container-news-list-first-images{
	background-color: $grey;
}
.container-news-list-text-links{
	color: $light-turquoise;
}
