.article{
	max-width: 600px;
  margin: 0 auto;
  vertical-align: top;
  display: inline-block;
  margin-left: 170px;
}
.container-article{
	width: 20%;
	margin-left: 160px;
	margin-top: -300px;
	.container-articles-first-title{
		@include font-size(13);
		color:$light-turquoise;
		border-bottom: 2px solid $turquoise;
	}
}
//the others articles or news
.news{
	border-bottom: 1px solid $grey;
	width: 95%;
	.container-news-images{
		background-color: $grey;
		width: 35%;
		height: 160px;
	}
	.container-news-text{
		margin-top: -180px;
		margin-left: 230px;
		p{
			margin-bottom: 5px;
		}
	}
	.container-news-list-date{
		margin-bottom: 3px;
	}
} 