.container-article-featured{
	background-color: $white;
	width: 50%;
	margin-left: 120px;
	margin-top: -120px;
	.container-article-featured-first{
		margin-left: 50px;
		padding-top:5px;
		border-bottom: 1px solid $grey;
	}
	.conteiner-article-featured-first-title{
		width: 80%;
	}
	.container-article-featured-first-image-img{
		margin-top: 30px;
	}
	p{
		width: 95%;
	}
}
